<h1><%= @studio.name %></h1>
<h4><%= @studio.location %></h4>

<h2>Movies:</h2>
<% @movies.each do |movie| %>
<p><%= movie.title %></p>
<% end %>

<h2>Actors That Have Acted in A Movie by Studio:</h2>
<% @actors.each do |actor| %>
<p><%= actor.name %></p>
<% end %>
